{% extends 'base.html.twig' %}

{% block title %}Produkt {{ product.name }}{% endblock %}

{% block body %}

    <div class="row mb-5 text-center">
        <div class="col-md-3"></div>

        <div class="col-md-6 container">

            <h1 class="my-3 text-center">{{ product.name }}</h1>

            <table class="table my-5">
                <tbody>

                <tr>
                    <th>Popis</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Cena</th>
                    <td>{{ product.price }} Kč</td>
                </tr>
                <tr>
                    <th>Zboží na skladě</th>
                    <td>{{ product.amount }}</td>
                </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-outline-primary m-auto"><a class="add-to-cart"
                                                                     href="{{ path('objednavka', {'id': product.id}) }}">Koupit</a>
            </button>




        </div>

        <div class="col-md-3"></div>


    </div>



{% endblock %}
