<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- CSS: -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS: -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- FAVICON: -->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAVghgAAAAAAA5KggAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERIiIiIiIRERESIiIiIREREREiIiIRERERERIiIREREREREiIhERERERESIiEREREREAIiIAEREREAERERABEREAEQAAEQAREAEQEREBEAEQERERERERARAREREREREBEAEQEREBEAERABEREREAEREQAREREAEREREAAAAAERHgBwAA8A8AAPgfAAD8PwAA/D8AAPw/AADwDwAA5+cAAMwzAACb2QAAv/0AAL/9AACb2QAAz/MAAOfnAADwDwAA"
          rel="icon" type="image/x-icon"/>

    {% block stylesheets %}{% endblock %}
</head>
<body>


<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">REtaška</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('show_products') }}">Produkty</a>
                </li>

                <li class="nav-item active mr-5">
                    <a class="nav-link" href="{{ path('app_login') }}">Administrace</a>
                </li>


            </ul>


            <form class="form-inline my-2 my-lg-0 mr-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Hledej" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a {{ path('show_products') }}>Hledej</a></button>

            </form>


            <span class="my-auto mx-1">777 888 999</span>

            <a class="nav-link active" href="{{ path('basket') }}"><i class="fa fa-shopping-basket"
                                                                      aria-hidden="true"></i></a>


        </div>
    </nav>

</header>


{% block body %}{% endblock %}


<style>

    html {
        height: 100%;
        box-sizing: border-box;
    }

    body {
        position: relative;
        margin: 0;
        min-height: 95%;
        padding-bottom: 5%;

    }


    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
    }

</style>

<div class="page-footer bg-light footer">


    <div class="row" style="width: 100%">
        <div class="col-md-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('homepage') }}">REtaška</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('show_products') }}">Produkty</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_login') }}">Administrace</a>
                        </li>


                    </ul>

                </div>
            </nav>
        </div>


        <div class="col-md-4 my-auto" align="center">© 2019 REtaška</div>

        <div class="col-md-1"></div>


        <div class="col-md-2 my-auto">
            <a href="mailto:#">big.boss@retaska.com</a>
        </div>

        <div class="col-md-1 my-auto"><i class="fa fa-heart-o" aria-hidden="true"></i></div>


    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


{% block javascripts %}{% endblock %}

</body>
</html>
