{% extends 'baseadmin.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ order.email }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ order.telefon }}</td>
            </tr>
            <tr>
                <th>Jmeno</th>
                <td>{{ order.jmeno }}</td>
            </tr>
            <tr>
                <th>Prijmeni</th>
                <td>{{ order.prijmeni }}</td>
            </tr>
            <tr>
                <th>Ulice</th>
                <td>{{ order.ulice }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ order.cp }}</td>
            </tr>
            <tr>
                <th>Mesto</th>
                <td>{{ order.mesto }}</td>
            </tr>
            <tr>
                <th>Psc</th>
                <td>{{ order.psc }}</td>
            </tr>
            <tr>
                <th>Poznamka</th>
                <td>{{ order.poznamka }}</td>
            </tr>
            <tr>
                <th>CelkovaCena</th>
                <td>{{ order.celkovaCena }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ order.product }}</td>
            </tr>
            <tr>
                <th>Ks</th>
                <td>{{ order.ks }}</td>
            </tr>
            <tr>
                <th>Stav</th>
                <td>{{ order.stav }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}">back to list</a>

    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
